body {
	background-image: url('19.jpg');
	background-repeat: no-repeat;

	
/*	background: cadetblue;*/
	color: white;
}
h1 {
	background: transparent;
	color: white;
}
abc{
   font-size: 20px;
   font-weight:bold;
}
formatoo
{
	font-size: 20px;
   	color: MidnightBlue;	
}