<html>
<head>
	<title>Tweets</title>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}main.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">
</head>
<body>
	
	<a href = "{% url edit %}" >Edit Profile</a> 
	<a href = "{% url logout_view %}">	Logout</a>
	<table align="center">
		<tr>
			<td>
				<formatoo>
				<br>
				<br>
				<h2> Users </h2>
				{% for user in users %}
				<div>
					<h2>{{ user.author }} </h2>
					<div>{{ user.bio }}</div>
					<div> {{ user.location }}</div>
					<div><a href = "{% url follows user.id %}">Follow/Stop Follow</a></div>		
				{% endfor %}
				</div>
			</formatoo>
			</td>
			<td width="35%"></td>
			<td>
				<formatoo>
				<br>
				<br>
				<br>
				<br>
				<div>
					<form method="POST">
						{% csrf_token %}
						{{ form.as_p }}
						<input type="submit" value="Share">
					</form>
							
					<h2> My tweets </h2>
					<p>{% for tweet in puser.tweets.all %}
						<div> {{ tweet.created_at }} </div>
						<div> {{ tweet.status }}</div>
						<div><a href = "{% url edit_tweet tweet.id %}">Edit</a> 
							<a href = "{% url delete_tweet tweet.id %}">Delete</a>
						</div>	
						{% endfor %}
					</p>
				</formatoo>
			</td>
			</div>
		</tr>

	</table>

</body>
</html>
